.research {
  border: 2px solid black;
  width: 49%;
  display: inline-block
}

.buttons {
  width: 49%;
  display: inline-block;
}

.info {
  width: 45%;
  padding: 20px;
  float: right;
  border: 5px solid black;
}
